@model (List<ProductViewModel> Products, ProductCategoriesViewModel)
@{
    var category = Model.Item2.GetDisplayAttributeName();

    ViewData["Title"] = category;
}

@await Html.PartialAsync("_Carousel")

<section class="container d-flex flex-column">
    <h2>@category</h2>
    <hr class="border-brown" />

    <div class="container">
        <div class="row gx-3">
            @* Генерация карт товаров *@
            @{
                if (Model.Products.Count == 0)
                {
                    <p>В данной категории товары отсутствуют</p>
                    return;
                }
                @await Html.PartialAsync("_ProductCards", Model.Products)
            }
        </div>
    </div>
</section>