<h1>О нас</h1>
<hr class="border-brown" />
<section>
	<div class="row">
		<div class="col-9">
			<p>
				PC Dream — это интернет-магазин, который объединяет страсть к технологиям с профессионализмом. Мы предлагаем широкий выбор компьютерной техники, от новейших комплектующих до лучших аксессуаров, чтобы обеспечить вам комфорт и продуктивность в работе и развлечениях.
			</p>
			<p>
				Наш магазин был создан с одной целью: предоставить нашим клиентам лучшее. Мы тщательно отбираем товары, сотрудничаем с надежными производителями и следим за последними тенденциями в мире технологий. В PC Dream вы найдете не только отличное оборудование, но и качественные услуги поддержки и консультаций.
			</p>
			<p>
				Мы гордимся тем, что предлагаем не только продукцию, но и знания. Наша команда экспертов всегда готова помочь вам сделать правильный выбор, чтобы вы могли сосредоточиться на своих целях и задачах.
			</p>
			<p>
				С PC Dream вы можете быть уверены в своем выборе и наслаждаться передовыми технологиями без лишних хлопот. Добро пожаловать в мир, где мечты о компьютерах становятся реальностью!
			</p>
		</div>
		<div class="col">
			<img class="w-100" src="/img/About_Image.webp" />
		</div>
	</div>
</section>