<h1>Контакты</h1>
<hr class="border-brown" />
<section class="mb-3">
		<p>
			Мы всегда рады помочь Вам! Если у Вас возникли вопросы или предложения, пожалуйста, свяжитесь с нами любым удобным способом. Наша команда готова предоставить Вам необходимую информацию и поддержку.
		</p>
		<p>
			<span class="fw-bold">Адрес:</span> г. Санкт-Петербург, проспект Просвещения, 46к1
		</p>
		<p>
			<span class="fw-bold">Телефон:</span> +7 (123) 456-00-22
		</p>
		<p>
			<span class="fw-bold">Электронная почта:</span> info@pcdream.ru
		</p>
		<p>
			<span class="fw-bold">Часы работы: </span>  10:00 - 22:00. Без выходных.
		</p>
		<p>
			Спасибо за ваш интерес к PC Dream. Мы ценим Ваше время и стремимся обеспечить Вам высокий уровень обслуживания!
		</p>
</section>
<section>
	<iframe  src="https://yandex.ru/map-widget/v1/?um=constructor%3Aefc256a1c8f7e4ffeb7a45f9a7ebf0492d90d36b40ae0ae5d44eb041cd3febf0&amp;source=constructor" width="900" height="600" frameborder="0"></iframe>
</section>