<h1>Доставка</h1>
<hr class="border-brown" />

<img class="w-100" src="/img/DeliveryBanner.svg" alt="Баннер доставки">

<section class="mb-3">
	<p>В интернет-магазине <strong>PC Dream</strong> мы стремимся сделать процесс получения заказов максимально удобным для вас. Мы предлагаем различные варианты доставки, чтобы вы могли выбрать наиболее подходящий.</p>

		

	<h5>1. Доставка по Санкт-Петербургу</h5>

		<p>
			<strong>Курьерская служба</strong>. Доставка осуществляется по всему городу в удобное для вас время. Наш курьер свяжется с вами заранее, чтобы уточнить детали и время доставки.
		</p>
		<p>
			<strong>Сроки доставки</strong>: от 1 до 2 рабочих дней.
		</p>
		<p>
			<strong>Стоимость доставки</strong>: рассчитывается в зависимости от вашего местоположения и будет указана при оформлении заказа.
		</p>

	<h5>2. Доставка по России</h5>

		<p>
			<strong>CDEK</strong>. Мы сотрудничаем с логистической компанией CDEK для доставки товаров по всей России. При оформлении заказа вы можете выбрать доставку до пункта выдачи CDEK или курьерскую доставку до вашего адреса.
		</p>
		<p>
			<strong>Сроки доставки</strong>: зависят от вашего региона и обычно составляют от 3 до 7 рабочих дней.
		</p>
		<p>
			<strong>Стоимость доставки</strong>: рассчитывается автоматически при оформлении заказа на сайте.
		</p>

	<h5>3. Самовывоз</h5>

		<p>
			<strong>Самовывоз из магазина</strong>. Вы можете забрать свой заказ самостоятельно в нашем офисе/магазине по адресу: <string></string>г. Санкт-Петербург, проспект Просвещения, 46к1.</strong> Для этого на странице заказа укажите данный адрес. Заказ будет готов к самовывозу через 1 рабочий день после его оформления.
		</p>

	<h5>4. Время и режим работы доставки</h5>

		<p>
			Доставка осуществляется с понедельника по субботу с 10:00 до 19:00. В случае заказа после 18:00, доставка может быть перенесена на следующий рабочий день.
		</p>

	<h5>5. Отслеживание заказа</h5>

	<p>
		После отправки вашего заказа вы получите трек-номер, по которому сможете отслеживать перемещение вашего товара в режиме онлайн через систему CDEK.
	</p>

	<p>
		Если у вас остались вопросы по доставке, пожалуйста, свяжитесь с нашей службой поддержки клиентов по телефону <strong>+7 (123) 456-00-22</strong> или через электронную почту <strong>info@pcdream.ru</strong>.
	</p>
</section>
