@model IEnumerable<ProductViewModel>

@await Html.PartialAsync("_Carousel")

<section class="container d-flex flex-column">
    <h2>Новинки</h2>
    <hr class="border-brown"/>

    <div class="container">
        <div class="row gx-3">
            @* Генерация карт товаров *@
            @await Html.PartialAsync("_ProductCards", Model.Reverse())
        </div>
    </div>
</section>



