<ul class="list-unstyled">
    <li class="nav-list-item d-flex">
        <a class="text-black d-flex h-100 flex-grow-1 align-items-center" asp-area="" asp-controller="Admin" asp-action="Order">
            Заказы
        </a>
    </li>
    <li class="nav-list-item">
        <a class="text-black d-flex h-100 flex-grow-1 align-items-center" asp-area="" asp-controller="Admin" asp-action="Users">
            Пользователи
        </a>
    </li>
    <li class="nav-list-item">
        <a class="text-black d-flex h-100 flex-grow-1 align-items-center" asp-area="" asp-controller="Admin" asp-action="Roles">
            Роли
        </a>
    </li>
    <li class="nav-list-item">
        <a class="text-black d-flex h-100 flex-grow-1 align-items-center" asp-area="" asp-controller="Admin" asp-action="Products">
            Продукты
        </a>
    </li>
</ul>