@model IEnumerable<Product>

<section class="container flex-row">
	<div class="row">

		<div class="col-3 flex-column">
			@await Html.PartialAsync("_NavigationPanel")
		</div>

		<div class="col">
            <div class="row">
                <h2>Добавить товар</h2>
                <hr class="border-brown mb-3" />
                <div>
                    <img src="/img/DefaultProductImage.png" alt="Стандартная картинка">
                </div>
            </div>
            <div class="row">
                <form method="post" id="addProductForm" asp-controller="Product" asp-action="Create">
                    <div class="mb-3 col-6">
                        <label for="Name" class="form-label">Наименование</label>
                        <input type="text" class="form-control input-field" name="Name" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="Cost" class="form-label">Стоимость</label>
                        <input type="number" class="form-control input-field" name="Cost" placeholder="От 10 до 1000000 рублей" required>
                    </div>

                    <div class="mb-3">
                        <label for="Description" class="form-label">Описание</label>
                        <textarea class="form-control" name="Description" rows="5"></textarea>
                    </div>

                    <label>Category</label>

                    <select id="category-select" class="form-select" name="Category">
                        @foreach (var category in Enum.GetValues(typeof(ProductCategories)))
                        {
                            <option value="@category">@category</option>
                        }
                    </select>

                    
                    <div id="specifications-form">
                        
                    </div>

                    <button type="submit">Create Product</button>
                </form>
            </div>              
		</div>
	</div>
</section>



@section Scripts {
    <script>
        // Событие на изменение категории
        $('#category-select').change(function() {
            var selectedCategory = $(this).val();

            // Отправка AJAX-запроса для получения формы
            $.get('@Url.Action("GetSpecificationsForm", "Product")', { category: selectedCategory }, function (response) {
                $('#specifications-form').html(response);
            });
        });
    </script>
}
