@model Product

<section class="container flex-row">
	<div class="row">

		<div class="col-3 flex-column">
            @await Html.PartialAsync("~/Views/Admin/_NavigationPanel.cshtml")
		</div>

		<div class="col">
            <div class="row">
                <h2>Добавить товар</h2>
                <hr class="border-brown mb-3" />
                <div class="d-flex justify-content-center">
                    <img class="admin-product-add-image" src="/img/DefaultProductImage.png" alt="Стандартная картинка">
                </div>
            </div>
            <div class="row">
                <form method="post" id="addProductForm" asp-controller="Product" asp-action="Add">                    
                    @* Общие свойства товара *@
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label asp-for="Name" class="form-label">Наименование</label>
                            <input class="form-control input-field" 
                                asp-for="Name">
                            <span asp-validation-for="Name" class="validation-error-message"></span>
                        </div>

                        <div class="mb-3 col-6">
                            <label asp-for="Category" class="form-label">Категория</label>
                            <select id="category-select" class="form-select"
                                asp-for="Category">

                                @foreach (var category in Enum.GetValues(typeof(ProductCategories)))
                                {
                                    <option value="@category">@category</option>
                                }

                            </select>
                            <span asp-validation-for="Category" class="validation-error-message"></span>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="Cost" class="form-label">Стоимость</label>
                        <input type="number" class="form-control input-field"
                            asp-for="Cost"
                            placeholder="От 10 до 10000000 руб."
                            step="0.01">
                        <span asp-validation-for="Cost" class="validation-error-message"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Описание</label>
                        <textarea class="form-control"
                            asp-for="Description" rows="5"></textarea>                        
                    </div>
                    <span asp-validation-for="Description" class="validation-error-message"></span>

                    @* Блок для подгрузки характеристик *@
                    <div id="specifications-form">
                        @{
                            switch (Model?.Category)
                            {
                                case ProductCategories.GraphicCards:
                                    @await Html.PartialAsync("~/Views/Admin/SpecificationsForms/_GraphicCardForm.cshtml", Model?.Specifications);
                                    break;
                                case ProductCategories.Processors:
                                    @await Html.PartialAsync("~/Views/Admin/SpecificationsForms/_ProcessorForm.cshtml", Model?.Specifications);
                                    break;
                                case ProductCategories.Motherboards:
                                    @await Html.PartialAsync("~/Views/Admin/SpecificationsForms/_MotherboardForm.cshtml", Model?.Specifications);
                                    break;
                                case ProductCategories.SSD:
                                    @await Html.PartialAsync("~/Views/Admin/SpecificationsForms/_SsdForm.cshtml", Model?.Specifications);
                                    break;
                                case ProductCategories.HDD:
                                    @await Html.PartialAsync("~/Views/Admin/SpecificationsForms/_HddForm.cshtml", Model?.Specifications);
                                    break;
                                case ProductCategories.RAM:
                                    @await Html.PartialAsync("~/Views/Admin/SpecificationsForms/_RamForm.cshtml", Model?.Specifications);
                                    break;
                                case ProductCategories.PowerSupplies:
                                    @await Html.PartialAsync("~/Views/Admin/SpecificationsForms/_PowerSupplyForm.cshtml", Model?.Specifications);
                                    break;
                                default:
                                    @await Html.PartialAsync("~/Views/Admin/SpecificationsForms/_GraphicCardForm.cshtml", Model?.Specifications);
                                    break;
                            }
                        }
                    </div>
                    <div class="mb-3">
                        <span asp-validation-for="Specifications" class="validation-error-message"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="validation-error-message"></div>

                    <button class="btn btn-main mb-3" type="submit">
                        Добавить товар
                    </button>
                </form>
            </div>              
		</div>
	</div>
</section>



@section Scripts {
    <script>
        $(document).ready(function() {
            var selectedCategory = $('#category-select').val();

            $('#category-select').change(function() {
                var selectedCategory = $(this).val();

                $.get('@Url.Action("GetSpecificationsForm", "Product")', { category: selectedCategory }, function (response) {
                    $('#specifications-form').html(response);
                });
            });
        });
    </script>
}