<section class="container flex-row">
	<div class="row">

		<div class="col-3 flex-column">
			@await Html.PartialAsync("_NavigationPanel")
		</div>

		<div class="col">
            <div class="row">
                <h2>Добавить товар</h2>
                <hr class="border-brown mb-3" />
                <div class="d-flex justify-content-center">
                    <img class="admin-product-add-image" src="/img/DefaultProductImage.png" alt="Стандартная картинка">
                </div>
            </div>
            <div class="row">
                <form method="post" id="addProductForm" asp-controller="Product" asp-action="Add">
                    @* Общие свойства товара *@
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="Name" class="form-label">Наименование</label>
                            <input type="text" class="form-control input-field" name="Name" required>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="Category" class="form-label"> Категория</label>
                            <select id="category-select" class="form-select" name="Category">
                                @foreach (var category in Enum.GetValues(typeof(ProductCategories)))
                                {
                                    <option value="@category">@category</option>
                                }
                            </select>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="Cost" class="form-label">Стоимость</label>
                        <input type="number" class="form-control input-field" name="Cost" placeholder="От 10 до 1000000 рублей" required min="10" max="1000000" step="0.01">
                    </div>

                    <div class="mb-3">
                        <label for="Description" class="form-label">Описание</label>
                        <textarea class="form-control" name="Description" rows="5"></textarea>
                    </div>                   

                    @* Блок для подгрузки характеристик *@
                    <div id="specifications-form">
                        
                    </div>

                    <button class="btn btn-main mb-3" type="submit">
                        Добавить товар
                    </button>
                </form>
            </div>              
		</div>
	</div>
</section>


@* TODO: Окончательно разобраться с JS и причесать этот ужас *@
@section Scripts {
    <script>
        $(document).ready(function() {
            var selectedCategory = $('#category-select').val();

            $.get('/Product/GetSpecificationsForm', { category: selectedCategory }, function(response) {
                $('#specifications-form').html(response);
            });

                $('#category-select').change(function() {
                    var selectedCategory = $(this).val();

                    $.get('@Url.Action("GetSpecificationsForm", "Product")', { category: selectedCategory }, function (response) {
                        $('#specifications-form').html(response);
                    });
                });
            });
    </script>
}
