<section class="container flex-row">
	<div class="row">

		<div class="col-3 flex-column">
			@await Html.PartialAsync("_NavigationPanel")
		</div>

		<div class="col">
			<h2>Список заказов</h2>
			<hr class="border-brown mb-3" />                      
		</div>
	</div>

</section>
