@model IEnumerable<Product>

<section class="container flex-row">
	<div class="row">

		<div class="col-3 flex-column">
			@await Html.PartialAsync("_NavigationPanel")
		</div>

		<div class="col">
            <div class="row">
                <h2>Добавить товар</h2>
                <hr class="border-brown mb-3" />
            </div>
            <div class="row">
                <div>
                    <img src="/img/DefaultProductImage.png" alt="Стандартная картинка">
                </div>
                

            </div>              
		</div>

	</div>

</section>
