@model List<FavoriteProductViewModel>
@{
    ViewData["Title"] = "Избранное";
    var isFavoritesExists = Model is not null && Model!.Count > 0;
}

<div class="d-flex justify-content-between">
    <div class="col-6">
        <h2>Избранное</h2>
    </div>
    @if (isFavoritesExists)
    {
        var message = $"Вы уверены, что хотите <span class=\"fw-bold\">очистить избранное</span>?<br /> Это действие нельзя отменить.";

        <span class="col-6 d-flex align-content-center justify-content-end">

            <a class="align-content-center"
               data-bs-toggle="modal"
               data-bs-target="#deleteModal"
               data-url="@Url.Action("DeleteAll", "Favorite")"
               data-message="@message">

                <svg class="icon-inactive heading-icon">
                    <use href="/icons/TrashIcon.svg#trash-icon" />
                </svg>
            </a>

        </span>
    }
</div>

<hr class="border-brown mb-3"/>

@if (!isFavoritesExists)
{
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center align-content-center">
                    <svg class="icon-main m-1" width="200px" height="200px">
                        <use href="/icons/Favorite.svg#favorite-icon" />
                    </svg>
                </div>

                <div class="d-flex justify-content-center align-content-center">
                    В избранном нет товаров
                </div>

                <div class="d-flex justify-content-center align-content-center mb-5">
                    <span>Нажмите</span>

                    <svg class="icon-inactive favorite-icon m-1">
                        <use href="/icons/Favorite.svg#favorite-icon" />
                    </svg>

                    <span>для добавления товаров в избранное</span>
                </div>

                <div class="d-flex justify-content-center align-content-center">
                    <a class="btn btn-main justify-content-center align-items-center mt-auto"
                        asp-area="" asp-controller="Home" asp-action="Index" role="button">
                        Продолжить покупки
                    </a>
                </div>
            </div>                
        </div>           
    </div>
        
    return;
}

<div class="container">
    @await Html.PartialAsync("_FavoritesRows", Model)
</div>

@await Html.PartialAsync("_DeleteModal")