@model List<FavoriteProduct>
@{
    ViewData["Title"] = "Избранное";
    var isFavoritesExists = Model is not null && Model!.Count > 0;
}

<div class="d-flex justify-content-between">
    <div class="col-6">
        <h2>Избранное</h2>
    </div>
    @if (isFavoritesExists)
    {
        var message = $"Вы уверены, что хотите <span class=\"fw-bold\">очистить избранное</span>?<br /> Это действие нельзя отменить.";

        <span class="col-6 d-flex align-content-center justify-content-end">

            <i type="button" class="bi bi-trash-fill trash-icon align-content-center"
               data-bs-toggle="modal"
               data-bs-target="#deleteModal"
               data-url="@Url.Action("DeleteAll", "Favorite")"
               data-message="@message">
            </i>

        </span>
    }
</div>

<hr class="border-brown mb-3"/>

@{
    if (!isFavoritesExists)
    {
        <p>В избранном нет товаров</p>
        return;
    }
}

<div class="container">
    @await Html.PartialAsync("_FavoritesRows", Model)
</div>

@await Html.PartialAsync("_DeleteModal")