@model int

<a class="col-3 d-flex align-items-center justify-content-end flex-column h-100"
   asp-area="" asp-controller="Cart" asp-action="Index">
    <span class="position-relative">

        <svg class="nav-icon">
            <use href="/icons/CartIcon.svg#cart-icon" />
        </svg>

        @if (Model != 0)
        {
            if (Model > 99)
            {
                <span class="position-absolute translate-middle badge rounded-pill nav-icon-badge">
                    99+
                </span>
            }
            else
            {
                <span class="position-absolute translate-middle badge rounded-pill nav-icon-badge">
                    @Model
                </span>
            }
        }
    </span>

    <span class="text-black">Корзина</span>
</a>