<div class="row">
    <h2>Меню</h2>
    <hr class="border-brown mb-3" />
</div>

<ul class="list-unstyled">
    <li class="nav-list-item d-flex">
        <a class="text-black d-flex h-100 flex-grow-1 align-items-center" asp-area="Admin" asp-controller="Order" asp-action="Index">
            Заказы
        </a>
    </li>
    <li class="nav-list-item">
        <a class="text-black d-flex h-100 flex-grow-1 align-items-center" asp-area="Admin" asp-controller="User" asp-action="Index">
            Пользователи
        </a>
    </li>
    <li class="nav-list-item">
        <a class="text-black d-flex h-100 flex-grow-1 align-items-center" asp-area="Admin" asp-controller="Role" asp-action="Index">
            Роли
        </a>
    </li>
    <li class="nav-list-item">
        <a class="text-black d-flex h-100 flex-grow-1 align-items-center" asp-area="Admin" asp-controller="Product" asp-action="Index">
            Продукты
        </a>
    </li>
</ul>