@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .admin-link {
    margin-left: auto;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 60px;
}

a {
  text-decoration: none;
}

.card-home {
  padding-top: 10px;
  border: none;
  height: 460px;
  overflow: hidden;
}

.card-comparison {
  padding-top: 10px;
  border: none;
  height: 380px;
  overflow: hidden;
}

.card-id {
  font-size: 12px;
}

.card-title {
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-home-text {
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: auto;
}

.nav-icon {
  font-size: 28px;
}

.card-icon {
  font-size: 1.25rem;
}

.trash-icon {
  color: #D9D9D9;
  font-size: 2rem;
}

.trash-icon:hover {
  color: #8c6642;
  cursor: pointer;
}

.product-page-icon {
  font-size: 1.25rem;
}

.home-card-img {
  height: 160px;
  width: 160px;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.home-card-img:hover {
  transform: scale(1.1);
}

.product-img {
  width: 100%;
  height: auto;
}

.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-main {
  color: #fff;
  background-color: #729FD8;
  border: none;
}

.btn-main:hover {
  color: #fff;
  background-color: #C9E0F2;
}

.btn-card-home {
  font-size: 1rem;
  align-self: flex-end;
  height: 20%;
}

.btn-favorite-row {
  font-size: 1rem;
  height: 100%;
}

.btn-card-comparison {
  font-size: 1rem;
  align-self: flex-end;
  height: 25%;
}

.btn-admin-product-options {
  background: #8c6642;
  border-radius: 5px;
  width: auto;
  border: none;
  font-size: 1rem;
}

.search-container {
  height: 60px;
}

.btn-catalog {
  background: #729FD8;
  border-radius: 5px;
  width: 173px;
  border: none;
  font-size: 18px;
}

.btn-catalog::after {
  display: none;
}

.btn-login-modal {
  height: 3rem;
}

.btn-order-details-modal {
  height: 3rem;
}

.border-main {
  border: 1px solid #729FD8;
  border-radius: 5px;
}

.border-brown {
  border: 1px solid #8c6642;
  border-radius: 5px;
}

.fill-height {
  height: 100%;
}

.text-blue {
  color: #729FD8;
}

.text-unactive {
  color: #D9D9D9;
}

.text-unactive:hover {
  color: #729FD8;
}

.text-whitespace {
  white-space: pre-wrap;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
}

footer {
  background: #C9E0F2;
  display: flex;
  align-content: flex-end;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.text-black:hover {
  color: #8c6642 !important;
}

.product-cost {
  font-size: 1.5rem;
}

.cart-position-title:hover {
  font-weight: bold;
}

.w-15 {
  width: 15%;
}

.input-field {
  height: 3rem;
  border: 1px solid #729FD8;
}

.order-box {
  position: sticky;
  top: 80px;
  z-index: 10;
}

.order-animation-box {
  height: 30rem;
  width: 30rem;
}

.itc-slider-item {
  flex: 0 0 25%;
  user-select: text;
}

.comparison-specification-cell {
  height: 3.5rem;
  border-top: 1px solid #8c6642;
}

.favorite-row {
  height: 125px;
  border-bottom: 1px solid #8c6642;
}

.favorite-row-text {
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: auto;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.favorite-row-image {
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.favorite-row-image:hover {
  transform: scale(1.1);
}

.favorite-comparicon-icon {
  font-size: 2rem;
}

.favorite-comparicon-icon:hover {
  color: #8c6642;
  cursor: pointer;
}

.nav-icon-badge {
  font-size: 12px;
  color: black;
  background-color: white;
  border: 1px solid #8c6642;
  top: 25%;
  left: 100%;
}

.account-modal {
  border-radius: 1.25rem;
}

.modal-toggle {
  color: #729FD8;
}

.modal-toggle:hover {
  color: #8c6642;
  cursor: pointer;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  height: 3rem;
  border-bottom: 1px solid #8c6642;
}

.admin-products-row {
  height: 125px;
  border-bottom: 1px solid #8c6642;
  vertical-align: middle;
}

.admin-product-description {
  max-height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-products-image {
  height: 125px;
  width: auto;
}

.admin-products-image:hover {
  transform: scale(1.1);
}

.admin-product-add-image {
  height: 20rem;
  width: auto;
}

.table td {
  word-break: break-all;
}

.validation-error-message {
  color: red;
  white-space: pre-wrap;
}

.success-toast {
  background-color: #729FD8;
}
