@model (ILookup<ProductCategoriesViewModel, ComparisonProductViewModel>, ProductCategoriesViewModel?)
@{
    ViewData["Title"] = "Сравнение";
    var comparisonsGroups = Model.Item1;
    var isComparisonsExists = comparisonsGroups is not null && comparisonsGroups!.Count > 0;
}

<div class="d-flex justify-content-between">
    <div class="col-6">
        <h2>Сравнение</h2>
    </div>

    @if (isComparisonsExists)
    {
        var message = $"Вы уверены, что хотите <span class=\"fw-bold\">очистить сравнение</span>?<br /> Это действие нельзя отменить.";

        <span class="col-6 d-flex align-content-center justify-content-end">

            <a class="align-content-center"
               data-bs-toggle="modal"
               data-bs-target="#deleteModal"
               data-url="@Url.Action("DeleteAll", "Comparison")"
               data-message="@message">

                <svg class="icon-inactive heading-icon">
                    <use href="/icons/TrashIcon.svg#trash-icon" />
                </svg>

            </a>

        </span>
    }
</div>

@{
    if (!isComparisonsExists)
    {
        <hr class="border-brown" />
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center align-content-center">
                        <svg class="icon-main m-1" width="200px" height="200px">
                            <use href="/icons/ComparisonIcon.svg#comparison-icon" />
                        </svg>
                    </div>

                    <div class="d-flex justify-content-center align-content-center">
                        В сравнении нет товаров
                    </div>

                    <div class="d-flex justify-content-center align-item-center mb-5">
                        <span class="m-1">Нажмите</span>

                        <svg class="icon-inactive comparison-icon m-1">
                            <use href="/icons/ComparisonIcon.svg#comparison-icon" />
                        </svg>

                        <span class="m-1">для добавления товаров в сравнение</span>
                    </div>

                    <div class="d-flex justify-content-center align-content-center">
                        <a class="btn btn-main justify-content-center align-items-center mt-auto"
                           asp-area="" asp-controller="Home" asp-action="Index" role="button">
                            Продолжить покупки
                        </a>
                    </div>
                </div>
            </div>
        </div>

        return;
    }

    var category = Model.Item2 is null ? comparisonsGroups.First().Key : (ProductCategoriesViewModel)Model.Item2;

    var comparisons = comparisonsGroups[category];
    var modelWithCategory = (comparisonsGroups, category);
}

@await Html.PartialAsync("_Navigation", modelWithCategory)

<hr class="border-brown" />

@{
    <div class="container position-relative mb-3">
        <div class="itc-slider" data-slider="itc-slider" data-loop="false" data-autoplay="false" data-swipe="false">
            <div class="itc-slider-wrapper">
                <div class="itc-slider-items">
                    @* Генерация карт товаров *@
                    @await Html.PartialAsync("_ComparisonCards", comparisons)
                </div>
            </div>

            <!-- Кнопки для перехода к предыдущему и следующему слайду -->
            <button class="itc-slider-btn itc-slider-btn-prev"></button>
            <button class="itc-slider-btn itc-slider-btn-next"></button>
        </div>
    </div>
}

@await Html.PartialAsync("_DeleteModal")

<script src="/lib/itc/itc-slider.js" defer></script>