@model (ILookup<ProductCategories, ComparisonProduct>, ProductCategories?)
@{
    ViewData["Title"] = "Сравнение";
    var comparisonsGroups = Model.Item1;
    var isComparisonsExists = comparisonsGroups is not null && comparisonsGroups!.Count > 0;
}

<div class="d-flex justify-content-between">
    <div class="col-6">
        <h2>Сравнение</h2>
    </div>

    @if (isComparisonsExists)
    {
        <span class="col-6 d-flex align-content-center justify-content-end">

            <i type="button" class="bi bi-trash-fill trash-icon align-content-center"
               data-bs-toggle="modal"
               data-bs-target="#deleteModal"
               data-url="@Url.Action("DeleteAll", "Comparison")"
               data-name="все товары в сравнении">
            </i>

        </span>
    }
</div>

@{
    if (!isComparisonsExists)
    {
        <p>В сравнении нет товаров</p>
        return;
    }

    var category = Model.Item2 is null ? comparisonsGroups.First().Key : (ProductCategories)Model.Item2;

    var comparisons = comparisonsGroups[category];
    var modelWithCategory = (comparisonsGroups, category);
}

@await Html.PartialAsync("_Navigation", modelWithCategory)

<hr class="border-brown" />

@{
    <div class="container position-relative mb-3">
        <div class="itc-slider" data-slider="itc-slider" data-loop="false" data-autoplay="false" data-swipe="false">
            <div class="itc-slider-wrapper">
                <div class="itc-slider-items">
                    @* Генерация карт товаров *@
                    @await Html.PartialAsync("_ComparisonCards", comparisons)
                </div>
            </div>

            <!-- Кнопки для перехода к предыдущему и следующему слайду -->
            <button class="itc-slider-btn itc-slider-btn-prev"></button>
            <button class="itc-slider-btn itc-slider-btn-next"></button>
        </div>
    </div>
}

@await Html.PartialAsync("_DeleteModal")

<script src="/lib/itc/itc-slider.js" defer></script>