@model (ILookup<ProductCategories, ComparisonProduct>, ProductCategories?)
@{
    ViewData["Title"] = "Сравнение";
    var comparisonsGroups = Model.Item1;
}

<div class="d-flex justify-content-between">
    <div class="col-6">
        <h2>Сравнение</h2>
    </div>

    <span class="col-6 d-flex align-content-center justify-content-end">
        <a class="bi bi-trash-fill trash-icon align-content-center"
            asp-area="" asp-controller="Comparison" asp-action="DeleteAll">
        </a>
    </span>
</div>

@{
    if (comparisonsGroups.Count == 0)
    {
        <p>В сравнении нет товаров</p>
        return;
    }

    var category = Model.Item2 is null ? comparisonsGroups.First().Key : (ProductCategories)Model.Item2;

    var comparisons = comparisonsGroups[category];
    var modelWithCategory = (comparisonsGroups, category);
}

@await Html.PartialAsync("_Navigation", modelWithCategory)

<hr class="border-brown" />

@{
    <div class="container position-relative mb-3">
        <div class="itc-slider" data-slider="itc-slider" data-loop="false" data-autoplay="false" data-swipe="false">
            <div class="itc-slider-wrapper">
                <div class="itc-slider-items">
                    @* Генерация карт товаров *@
                    @await Html.PartialAsync("_ComparisonCards", comparisons)
                </div>
            </div>

            <!-- Кнопки для перехода к предыдущему и следующему слайду -->
            <button class="itc-slider-btn itc-slider-btn-prev"></button>
            <button class="itc-slider-btn itc-slider-btn-next"></button>
        </div>
    </div>
}

<script src="/lib/itc/itc-slider.js" defer></script>






