@model Lookup<ProductCategories, ComparisonProduct>
@{
    ViewData["Title"] = "Сравнение";
    foreach (var item in Model)
    {
        <h2>@item.Key</h2>
        <hr class="border-brown" />

        var products = Model[item.Key].Select(p => p.Product);
        @await Html.PartialAsync("_ProductCard", products);
    }
}






