<div aria-live="polite"
     aria-atomic="true"
     class="d-flex justify-content-center toast-container position-fixed top-0 w-100 p-3">
    <div class="toast" id="unauthorizedToast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-bs-delay="10000">

        <div class="toast-header warning-toast">
            <strong class="me-auto text-white">PC DREAM</strong>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="toast"
                    aria-label="Закрыть"></button>
        </div>

        <div class="toast-body">
            Войдите, чтобы выполнить данное действие
            <button type="button"
                    class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast"
                    aria-label="Закрыть">
            </button>
        </div>
    </div>
</div>