<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col">
        <label for="Manufacturer" class="form-label">Производитель</label>
        <input type="text" class="form-control input-field" name="Specifications[Manufacturer]" required>
    </div>

    <div class="col">
        <label for="ManufacturerCode" class="form-label">Код производителя</label>
        <input type="text" class="form-control input-field" name="Specifications[ManufacturerCode]" required>
    </div>
</div>

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col-6">
        <label for="Interface" class="form-label">Интерфейс</label>
        <input type="text" class="form-control input-field" name="Specifications[Interface]" required>
    </div>
</div>