<div class="mb-3 col-6">
    <label for="Manufacturer" class="form-label">Производитель</label>
    <input type="text" class="form-control input-field" name="Specifications[Manufacturer]" required>

    <label for="ManufacturerCode" class="form-label">Код производителя</label>
    <input type="text" class="form-control input-field" name="Specifications[ManufacturerCode]" required>

    <label for="FormFactor" class="form-label">Форм-фактор</label>
    <input type="text" class="form-control input-field" name="Specifications[FormFactor]" required>

    <label for="Interface" class="form-label">Интерфейс</label>
    <input type="text" class="form-control input-field" name="Specifications[Interface]" required>

    <label for="Capacity" class="form-label">Объём накопителя</label>
    <input type="text" class="form-control input-field" name="Specifications[Capacity]" required>
</div>