@model Dictionary<string, string>

@{
    var tryGetValue = (string key) =>
        {
            var value = string.Empty;
            Model?.TryGetValue(key, out value);

            return value;
        };
}

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col">
        <label for="Manufacturer" class="form-label">Производитель</label>
        <input type="text" class="form-control input-field" name="Specifications[Manufacturer]" value="@tryGetValue("Manufacturer")" required>
    </div>

    <div class="col">
        <label for="ManufacturerCode" class="form-label">Код производителя</label>
        <input type="text" class="form-control input-field" name="Specifications[ManufacturerCode]" value="@tryGetValue("ManufacturerCode")" required>
    </div>
</div>

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col-6">
        <label for="Socket" class="form-label">Сокет</label>
        <input type="text" class="form-control input-field" name="Specifications[Socket]" value="@tryGetValue("Socket")" required>
    </div>

    <div class="col-6">
        <label for="Chipset" class="form-label">Чипсет</label>
        <input type="text" class="form-control input-field" name="Specifications[Chipset]" value="@tryGetValue("Chipset")" required>
    </div>
</div>