<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col">
        <label for="Manufacturer" class="form-label">Производитель</label>
        <input type="text" class="form-control input-field" name="Specifications[Manufacturer]" required>
    </div>

    <div class="col">
        <label for="ManufacturerCode" class="form-label">Код производителя</label>
        <input type="text" class="form-control input-field" name="Specifications[ManufacturerCode]" required>
    </div>
</div>

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col-6">
        <label for="Power" class="form-label">Мощность</label>
        <input type="text" class="form-control input-field" name="Specifications[Power]" required>
    </div>

    <div class="col-6">
        <label for="PFC" class="form-label">PFC</label>
        <input type="text" class="form-control input-field" name="Specifications[PFC]" required>
    </div>
</div>

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col-6">
        <label for="FanSize" class="form-label">Размер вентилятора</label>
        <input type="text" class="form-control input-field" name="Specifications[FanSize]" required>
    </div>    
</div>