<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col">
        <label for="Manufacturer" class="form-label">Производитель</label>
        <input type="text" class="form-control input-field" name="Specifications[Manufacturer]" required>
    </div>

    <div class="col">
        <label for="ManufacturerCode" class="form-label">Код производителя</label>
        <input type="text" class="form-control input-field" name="Specifications[ManufacturerCode]" required>
    </div>
</div>

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col-6">
        <label for="Model" class="form-label">Модель</label>
        <input type="text" class="form-control input-field" name="Specifications[Model]" required>
    </div>

    <div class="col-6">
        <label for="Socket" class="form-label">Сокет</label>
        <input type="text" class="form-control input-field" name="Specifications[Socket]" required>
    </div>
</div>

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col-6">
        <label for="Architecture" class="form-label">Архитектура</label>
        <input type="text" class="form-control input-field" name="Specifications[Architecture]" required>
    </div>

    <div class="col-6">
        <label for="CoresCount" class="form-label">Кол-во ядер</label>
        <input type="text" class="form-control input-field" name="Specifications[CoresCount]" required>
    </div>
</div>

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col-6">
        <label for="ThreadsCount" class="form-label">Количество потоков</label>
        <input type="text" class="form-control input-field" name="Specifications[ThreadsCount]" required>
    </div>

    <div class="col-6">
        <label for="ClockSpeed" class="form-label">Тактовая частота</label>
        <input type="text" class="form-control input-field" name="Specifications[ClockSpeed]" required>
    </div>
</div>