@* <div class="mb-3 col-6">
    <label for="Manufacturer" class="form-label">Производитель (SSD)</label>
    <input type="text" class="form-control input-field" name="Manufacturer" required>
</div> *@
<span>Meow</span>