@model Dictionary<string, string>

@{
    var tryGetValue = (string key) =>
        {
            var value = string.Empty;
            Model?.TryGetValue(key, out value);

            return value;
        };
}

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col">
        <label for="Specifications[Manufacturer]" class="form-label">Производитель</label>
        <input type="text" class="form-control input-field"
            name="Specifications[Manufacturer]"
            value="@tryGetValue("Manufacturer")"
            required>
    </div>

    <div class="col">
        <label for="Specifications[ManufacturerCode]" class="form-label">Код производителя</label>
        <input type="text" class="form-control input-field"
            name="Specifications[ManufacturerCode]"
            value="@tryGetValue("ManufacturerCode")"
            required>
    </div>
</div>

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col-6">
        <label for="Specifications[FormFactor]" class="form-label">Форм-фактор</label>
        <input type="text" class="form-control input-field"
            name="Specifications[FormFactor]"
            value="@tryGetValue("FormFactor")"
            required>
    </div>

    <div class="col-6">
        <label for="Specifications[Capacity]" class="form-label">Объём накопителя</label>
        <input type="text" class="form-control input-field"
            name="Specifications[Capacity]"
            value="@tryGetValue("Capacity")"
            required>
    </div>
</div>