@model (List<RoleViewModel>, string)


@foreach (var role in Model.Item1)
{
    if (role.Name == Model.Item2)
    {
        <option value="@role.Name" selected>@role.Name</option>
        continue;
    }
    <option value="@role.Name">@role.Name</option>
}