@model AddProductViewModel

<section class="container flex-row">
	<div class="row">

		<div class="col-3 flex-column">
            @await Html.PartialAsync("_NavigationPanel")
		</div>

		<div class="col">
            <div class="row">
                <h2>Добавить товар</h2>
                <hr class="border-brown mb-3" />

            </div>
            <div class="row">
                <form method="post" id="addProductForm"
                    asp-area="Admin" asp-controller="Product" asp-action="Add"
                    enctype="multipart/form-data">

                    @* Общие свойства товара *@

                    <div class="row mb-3">
                        <div class="d-flex col-12 justify-content-center">
                            <img id="imagePreview" class="admin-product-add-image"
                                 src="/img/DefaultProductImage.png" alt="Изображение товара">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="d-flex col-12">
                            <label asp-for="UploadedImage" class="form-label">Загрузить изображение</label>
                            <input asp-for="UploadedImage"
                                   type="file" class="form-control input-field" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-6">
                            <label asp-for="Name" class="form-label">Наименование</label>
                            <input class="form-control input-field"
                                   asp-for="Name">
                            <span asp-validation-for="Name" class="validation-error-message"></span>
                        </div>

                        <div class="mb-3 col-6">
                            <label asp-for="Category" class="form-label">Категория</label>
                            <select id="category-select" class="form-select"
                                asp-for="Category"
                                asp-items="@Html.GetEnumSelectList<ProductCategoriesViewModel>()">

                            </select>
                            <span asp-validation-for="Category" class="validation-error-message"></span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label asp-for="Cost" class="form-label">Стоимость</label>
                                <input type="number" class="form-control input-field"
                                       asp-for="Cost"
                                       placeholder="От 10 до 10000000 руб."
                                       step="0.01">
                                <span asp-validation-for="Cost" class="validation-error-message"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Description" class="form-label">Описание</label>
                                <textarea class="form-control"
                                          asp-for="Description" rows="5"></textarea>
                            </div>
                            <span asp-validation-for="Description" class="validation-error-message"></span>
                        </div>                        
                    </div>                    

                    @* Блок для подгрузки характеристик *@
                    <div id="specifications-form">
                        @{
                            var specificationsWithCategory = Model is null ? (null, ProductCategoriesViewModel.GraphicCards) : (Model.Specifications, Model.Category);
                            @await Component.InvokeAsync("SpecificationsForm", specificationsWithCategory)
                        }

                        <div class="mb-3">
                            <span asp-validation-for="Specifications" class="validation-error-message"></span>
                        </div>                        
                    </div>

                    <div asp-validation-summary="ModelOnly" class="validation-error-message"></div>

                    <button class="btn btn-main mb-3" type="submit">
                        Добавить товар
                    </button>
                </form>
            </div>              
		</div>
	</div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#category-select').change(function () {
                var selectedCategory = $(this).val();

                $.ajax({
                    url: '@Url.Action("GetSpecificationsForm", "Product")',
                    type: 'GET',
                    data: { category: selectedCategory },
                    success: function (response) {
                        $('#specifications-form').html(response);

                        var form = $("#addProductForm");
                        form.removeData("validator");  // удаляем кэш валидатора
                        form.removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse(form);
                    }
                });
            });
        });        
    </script>
}