@if (User.Identity.IsAuthenticated)
{
    <a asp-area ="" asp-controller="Account" asp-action="Index"
        class="col-3 d-flex align-items-center justify-content-end flex-column h-100">
        <span>
            <svg class="nav-icon">
                <use href="/icons/AccountIcon.svg#account-icon" />
            </svg>
        </span>
        <span class="text-black">
            Кабинет
        </span>
    </a>
}
else
{
    <div class="col-3 d-flex align-items-center justify-content-end flex-column h-100" data-bs-toggle="modal" data-bs-target="#loginModal">
        <span>
            <svg class="nav-icon">
                <use href="/icons/AccountIcon.svg#account-icon" />
            </svg>
        </span>
        <span class="text-black">Войти</span>
    </div>
}