@if (User.Identity.IsAuthenticated)
{
    <div class="col-3 d-flex align-items-center justify-content-end flex-column h-100" data-bs-toggle="modal" data-bs-target="#logoutModal">
        <span>
            <svg class="nav-icon">
                <use href="/icons/AccountIcon.svg#account-icon" />
            </svg>
        </span>
        <span class="text-black">Выйти</span>
    </div>

    @* Окно выхода *@
    <div class="modal fade" id="logoutModal"
         tabindex="-1" aria-labelledby="logoutModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="logoutModalLabel">Выход</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>

                <div class="modal-body">
                    <div>
                        <p> Вы уверены, что хотите выйти?</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-main" id="confirmLogoutBtn" asp-area="" asp-controller="Account" asp-action="Logout">
                        Выйти
                    </a>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <div class="col-3 d-flex align-items-center justify-content-end flex-column h-100" data-bs-toggle="modal" data-bs-target="#loginModal">
        <span>
            <svg class="nav-icon">
                <use href="/icons/AccountIcon.svg#account-icon" />
            </svg>
        </span>
        <span class="text-black">Войти</span>
    </div>
}