
<div class="col-3 d-flex align-items-center flex-column fill-height" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <span class="bi bi-person-fill text-blue nav-icon"></span>
    <span class="text-black">Кабинет</span>
</div>