@model ChangePassword

<button class="dropdown-item text-dark" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
    Сменить пароль
</button>

<div class="modal fade" id="changePasswordModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="changePasswordModal-label"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="changePasswordModal-label">
                    Сменить пароль
                </h1>

                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Закрыть">
                </button>
            </div>
            <div class="modal-body" id="changePasswordFormWrapper">

                @await Html.PartialAsync("_ChangePasswordForm", Model)
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-main w-100" type="submit" form="changePasswordForm">
                    Сменить пароль
                </button>
            </div>
        </div>
    </div>
</div>