@model ChangePassword

<form method="post" id="changePasswordForm" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">

    <input type="hidden" asp-for="UserId" value="@Model.UserId"/>

    <div class="mb-3">
        <input type="password" class="form-control input-field"
                asp-for="Password"
                placeholder="Пароль*">
        <span asp-validation-for="Password" class="validation-error-message"></span>
    </div>

    <div class="mb-3">
        <input type="password" class="form-control input-field"
                asp-for="ConfirmPassword"
                placeholder="Повторите пароль*">
        <span asp-validation-for="ConfirmPassword" class="validation-error-message"></span>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>
                

