@model User

<div class="modal fade" id="User-@Model.Id-delete-modal"
     tabindex="-1" aria-labelledby="User-@Model.Id-delete-modalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title fs-5" id="User-@Model.Id-delete-modalLabel">Подтвердите удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body">
                <p>
                    Вы уверены, что хотите удалить пользователя <span class="fw-bold">@Model.Email?</span><br />
                    Это действие нельзя отменить
                </p>
            </div>

            <div class="modal-footer">
                <a class="btn btn-main"
                   asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id">
                    Удалить
                </a>
            </div>

        </div>
    </div>
</div>

