@model EditUserViewModel

@{
	var avatarUrl = Model.AvatarUrl ?? @"/img/DefaultUserAvatar.jpg";
}

<section>
	<div class="row">
		<div class="col-3">
			@await Html.PartialAsync("_NavAccountPanel")
		</div>

		<div class="col">
			<h2 class="mb-3">Профиль</h2>
			<hr class="border-brown mb-3" />

			<form method="post" asp-area="" asp-controller="Account" asp-action="Update"
				  class="p-3"
			      enctype="multipart/form-data">

				<div class="row mb-3">
					<div class="col">
						<input type="hidden" asp-for="Id" value="@Model.Id" />
						<input type="hidden" asp-for="AvatarUrl" value="@Model.AvatarUrl" />

						<div class="row mb-3">
							<div class="d-flex justify-content-center">
								<img id="imagePreview" class="border-main avatar avatar-change-image"
									 src="@avatarUrl" alt="User Avatar">
							</div>
						</div>

						<div class="row d-flex justify-content-center mb-3">
							<div class="col-6">
								<label asp-for="UploadedImage" class="form-label">Заменить аватар</label>
								<input asp-for="UploadedImage"
									   type="file" class="form-control input-field" />
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-6">
								<label asp-for="FullName" class="form-label">Ваше имя</label>
								<input class="form-control input-field"
									   asp-for="FullName">
								<span asp-validation-for="FullName" class="validation-error-message"></span>
							</div>

							<div class="col-6">
								<label asp-for="Email" class="form-label">Email</label>
								<input class="form-control input-field"
									   asp-for="Email">
								<span asp-validation-for="Email" class="validation-error-message"></span>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-6">
								<label asp-for="PhoneNumber" class="form-label">Телефон</label>
								<input class="form-control input-field"
									   asp-for="PhoneNumber">
								<span asp-validation-for="PhoneNumber" class="validation-error-message"></span>
							</div>
						</div>
					</div>

					<div asp-validation-summary="ModelOnly" class="validation-error-message"></div>
					<div class="d-flex">
						<button class="btn btn-main mb-3 me-3" type="submit">
							Сохранить изменения
						</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</section>