@model EditUserViewModel

@{
	var userChangePasswordModel = new UserChangePasswordViewModel()
	{
		UserId = Model.Id
	};
}
<section>
	<div class="row">
		<div class="col-3">
			@* Блок с итоговой стоймостью и кнопкам *@
			<div class="account-navigation-panel border-1 border-brown p-3">

				<h3 class="text-center text-blue mb-3">@User.Identity.Name</h3>

				<a class="btn btn-main w-100 mb-3" asp-area="" asp-controller="Account" asp-action="Index">
					Профиль          
				</a>				

				<a class="btn btn-main w-100"data-bs-toggle="modal" data-bs-target="#logoutModal">
					Выйти из профиля       
				</a>

			</div>
		</div>

		<div class="col">
			<h4 class="mb-3">Профиль</h4>

			<form method="post" asp-area="" asp-controller="Account" asp-action="Update" class="p-3">
				<div class="row mb-3">
					<div class="col">
						<input type="hidden" asp-for="Id" value="@Model.Id" />

						<div class="row mb-3">
							<div class="col-6">
								<label asp-for="FullName" class="form-label">Ваше имя</label>
								<input class="form-control input-field"
									   asp-for="FullName">
								<span asp-validation-for="FullName" class="validation-error-message"></span>
							</div>

							<div class="col-6">
								<label asp-for="Email" class="form-label">Email</label>
								<input class="form-control input-field"
									   asp-for="Email">
								<span asp-validation-for="Email" class="validation-error-message"></span>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-6">
								<label asp-for="PhoneNumber" class="form-label">Телефон</label>
								<input class="form-control input-field"
									   asp-for="PhoneNumber">
								<span asp-validation-for="PhoneNumber" class="validation-error-message"></span>
							</div>
						</div>
					</div>

					<div asp-validation-summary="ModelOnly" class="validation-error-message"></div>
					<div class="d-flex">
						<button class="btn btn-main mb-3 me-3" type="submit">
							Сохранить изменения
						</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</section>

@* Окно выхода *@
<div class="modal fade" id="logoutModal"
        tabindex="-1" aria-labelledby="logoutModalLabel"
        aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title fs-5" id="logoutModalLabel">Выход</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body">
                <div>
                    <p> Вы уверены, что хотите выйти?</p>
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-main" id="confirmLogoutBtn" asp-area="" asp-controller="Account" asp-action="Logout">
                    Выйти
                </a>
            </div>

        </div>
    </div>
</div>