@model ResetPasswordViewModel

<div class="row justify-content-center">
	<div class="col">
        <form method="post"
                asp-area="" asp-controller="Account" asp-action="ResetPassword">
                <input type="hidden" asp-for="Email" value="@Model?.Email" />
                <input type="hidden" asp-for="Token" value="@Model?.Token" />

            <div class="mb-3">
                <input type="password" class="form-control input-field"
                        asp-for="Password"
                        placeholder="Новый пароль*">
                <span asp-validation-for="Password" class="validation-error-message"></span>
            </div>

            <div class="mb-3">
                <input type="password" class="form-control input-field"
                        asp-for="ConfirmPassword"
                        placeholder="Повторите пароль*">
                <span asp-validation-for="ConfirmPassword" class="validation-error-message"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="validation-error-message"></div>

            <button class="btn btn-main mb-3" type="submit">
                Сменить пароль
            </button>
        </form>
	</div>
</div>